* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(211, 212, 212);
}

@media (min-width: 320px) {
  header {
    border: 1px solid red;
    width: 100%;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }

  #logo img {
    width: 100%;
    height: 20px;
  }

  .hero-section {
    width: 100%;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero-section h2 {
    color: #7604a3;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .hero-content-text {
    width: 100%;
    height: 280px;
    position: absolute;
    display: flex;
    background-color: #8a2be2;
    align-items: center;
    justify-content: center;
  }

  .hero-content-text   p {
      color: #ffffff;
      font-size: 24px;
      font-weight: 600;
      padding-top: 80px;
    }

  .hero-content-image img {
    position: relative;
    width: 130px;
    /* height: 120px; */
    display: flex;
    top: 40px;
    right: 30px;
    /* object-fit: cover; */
  }

  .hero-content-details {
    width: 300px;
    height: 50px;
    display: flex;
    position: relative;
    background-color: brown;
    align-items: center;
    justify-content: center;
    top: 40px;
  }

  .hero-content-details p {
    padding-left: 100px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 800;
  }

  .sec-one-text {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding-left: 12px;
  }

  .sec-one-text h3 {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    color: #030303;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 12px;
    background-color: rgb(149, 151, 151);
    border-radius: 15px;
  }

  .content-text {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin-top: 15px;
    border-bottom: 1px solid rgb(7, 0, 0);
    border-radius: 24px;
  }

  .content-text p {
    font-size: 24px;
    font-weight: 500;
  }

  .section-two {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
    padding: 12px;
  }

  .section-two h3 {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    color: #030303;
  }

  .sec-two-contents {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  .sec-two-content-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 24px;
    gap: 2rem;
    background-color: #ffffff;
  }

  .sec-two-content-one h4 {
    font-size: 20px;
    font-weight: 700;
    color: #7604a3;
  }

  .sec-two-content-one h5 {
    font-size: 30px;
    font-weight: 500;
    color: #444343;
  }

  .sec-two-content-one p {
    font-size: 20px;
    font-weight: 700;
    color: #444343;
  }
}
